@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('/src/lib/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('/src/lib/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
	font-family: 'Montserrat';
}

.nf-font-bold {
  font-family: 'Montserrat Bold';
}